Flask==2.3.2
pymongo==4.6.0
openai==0.28
Cartopy==0.23.0
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
flagpy==1.0.3
fonttools==4.53.1
geopandas==1.0.1
idna==3.8
ImageHash==4.3.1
imageio==2.35.1
kiwisolver==1.4.5
lazy_loader==0.4
matplotlib==3.9.2
networkx==3.3
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pyogrio==0.9.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
python-dotenv
pytz==2024.1
PyWavelets==1.7.0
requests==2.32.3
scikit-image==0.24.0
scipy==1.14.1
shapely==2.0.5
six==1.16.0
tifffile==2024.8.10
tzdata==2024.1
urllib3==2.2.2
gunicorn