body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.question {
    margin-bottom: 20px;
}

#finish-message {
    display: none;
    font-weight: bold;
    color: green;
}

#camera-container {
    display: flex;
    align-items: center;
}
#video {
    border: 1px solid #ccc;
}
#captured-image {
    margin-left: 20px;
    border: 1px solid #ccc;
}
