<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/complete.css') }}"></head>
<body>
    <div id="profile-container">
        <h1>Thank you! Finish!</h1>
        <h2>Name:{{ profile.name }}</h2>
        <div class="profile">
            <img src="{{ profile.profile_image_url }}" alt="Profile Image" id="profile-image">
        </div>
        <button id="next-button">Show Group Member</button>
    </div>

    <script>
        // グループ名を取得
        const groupName = "{{ group_name }}";
        console.log(groupName);
        
        document.getElementById('next-button').addEventListener('click', function() {

            // URLを生成
            const url = `{{ url_for('complete.show_group_members') }}?group_name=${encodeURIComponent(groupName)}`;

            // ページ遷移
            window.location.href = url;
        });
    </script>
</body>
</html>