<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Completion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/complete.css') }}"></head>
<body>
    <div class="result-container">
        <h1>Thank you, {{ group_name }}!</h1>
        <p>Your responses have been successfully submitted.</p>
        <p>We appreciate your participation.</p>
        
        {% for name, profiles in profiles.items() %}
            <h2>{{ name }}</h2>
            {% for profile in profiles %}
                <div class="profile">
                    <img src="{{ profile.profile_image_url }}" alt="Profile Image" style="width:100px;height:100px;">
                    <p>{{ profile.name }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>